
<div class="map-show">
    <div id="map"></div>

    <div class="col-md-4 col-one">
    
        <% if (requests.length > 0 && requests[0].type === "request") { %>
            <%- include('../partials/request-bar') %>
        <% } else { %>
            <%- include('../partials/offer-bar') %>
        <% } %>
        
    </div>
</div>

<script>

    console.log('<%= markers[0].lat %>')

    mapboxgl.accessToken = '<%= apiKey %>'

    let map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [<%= loc.lat %>, <%= loc.long %>],
        zoom: 12,
    })

    let marker = new mapboxgl.Marker()
        .setLngLat([<%= loc.lat %>, <%= loc.long %>])
        .addTo(map)

    <% let i = 0 %>
    for (let i = 0; i < <%= markersLength %>; i++) {
        marker = new mapboxgl.Marker({color: '<%= markers[i].color %>' })
        .setLngLat([<%= markers[i].lat %>, <%= markers[i].long %>])
        .setPopup(new mapboxgl.Popup({ offset: 25 })
            .setHTML('<a href="/request/show/<%= markers[i].id %>"><img class="popup-avi" width=150px src="<%= markers[i].avi %>"><h3 class="popup-title"> <%= markers[i].title %> </h3> <p> <%= markers[i].address %> </p></a>'))
        .addTo(map)
        <% i++ %>
    }

</script>