
<div class="map-show">
    <div id="map" class="map-show-map"></div>

    <div class="col-md-4 col-one">
    
        <% if (searchType === "request") { %>
            <%- include('../partials/request-bar') %>
        <% } else { %>
            <%- include('../partials/offer-bar') %>
        <% } %>
        
    </div>
</div>

<div display="hidden">
    <p display="hidden" id="index"><%= markersLength %></p>
    <% markers.forEach((element, i) => { %>
        <li display="hidden" id="<%= i %>"><%= element.lat %>,<%= element.long %></li>
        <li display="hidden" id="<%= i %>info"><%= element.title %>, <%= element.id %>,<%= element.avi %>, <%= element.color %></li>
    <% }) %>
</div>

<script>

    mapboxgl.accessToken = '<%= apiKey %>'

    let map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [<%= loc.lat %>, <%= loc.long %>],
        zoom: 12,
    })

    let marker = new mapboxgl.Marker()
        .setLngLat([<%= loc.lat %>, <%= loc.long %>])
        .addTo(map)

    let indexNum = parseInt(index.innerText)
    for (let i = 0; i < indexNum; i++) {
        let data = document.getElementById(i).innerText
        let popupData = document.getElementById(`${i}info`).innerText
        console.log(data)
        data = data.split(',')
        console.log(data)

        console.log(popupData)
        popupData = popupData.split(',')
        console.log(popupData[0])

        marker = new mapboxgl.Marker({color: `${popupData[3]}` })
        .setLngLat(data)
        .setPopup(new mapboxgl.Popup({ offset: 25 })
                .setHTML(`<a href="/request/show/${popupData[1]}"><img class="popup-avi" width=150px src="${popupData[2]}"><h3 class="popup-title"> ${popupData[0]} </h3></a>`))
        .addTo(map)
    }

</script>