<a href="/request/new" class="btn btn-primary">Make New Request</a>

<% requests.forEach(request => { %>
    <div class="well">
        <h4><a href="/request/show/<%= request.id %>"><%= request.title %> by <%= request.user.name %></a></h4>
        <%= request.content %> at <%= request.location.address %>
    </div>
<% }) %>