<style>
    #map {
        margin: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        position: absolute;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .col-one {
        position: absolute;
        height: 100%;
        background-color: white;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .card-bank {
        overflow-y: auto;
        height: auto;
        padding: 0 15px;
    }

    .well {
        margin: 10px 0;
        display: flex;
    }

    .card-text{
        background-color: #F9AD6A;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        margin:0 10px;
        width: 100%;
        padding: 7px;
        transition: 1s;
    }

    .card-text:hover {
        background-color: white;
        border-radius: 0;
    }

    .title {
        height: 8%;
        text-align: center;
        z-index: 10;
    }

    .see-other {
        margin: 0 auto;
        background-color: white;
    }
</style>

<div id="map"></div>

<div class="col-md-4 col-one">

    <% if (requests.length > 0 && requests[0].type === "request") { %>
        <%- include('../partials/request-bar') %>
    <% } else { %>
        <%- include('../partials/offer-bar') %>
    <% } %>
    
</div>

<script>

    mapboxgl.accessToken = '<%= apiKey %>'

    let map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [<%= loc.lat %>, <%= loc.long %>],
        zoom: 12,
    })

    let marker = new mapboxgl.Marker()
        .setLngLat([<%= loc.lat %>, <%= loc.long %>])
        .addTo(map)

</script>