<div class="container">
    <h3><%= request.title %></h3>
    <h6><%= request.user.name %></h6>

    <h3><%= request.location.address %></h3>
    <p><%= request.content %></p>
        
    <% if (request.recipelink) { %>
        <a href='<% request.recipelink %>'>Recipe</a>
    <% } %>
      
    <a href="request/fill/<% currentUser.id %>" class="btn btn-primary">Fill Request</a>
    <% if (currentUser.id === request.user.id) { %>
        <a href="/request/edit/<%= request.id %>" class="btn btn-primary">Edit Request</a>

        <form action="/request/delete/<%= request.id %>?_method=DELETE" method="POST">
            <input type="submit" class="btn btn-danger" value="Delete Request">
        </form>
    <% } %>
</div>