
<style>
    #map {
        margin: 0;
        height: 100%;
        width: 100%;
        border-radius: 30px;
    }

    .col-one {
        padding: 0;
        min-height: 400px;
        min-width: 400px;
        background-color: white;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .col-two {
        padding: 0;
        background-image: url('/Images/lemons.jpg');
        background-size: 300px;
        background-repeat: repeat;
        padding: 30px;
    }

    .row-one {
        margin: 2vh;
        height: 80vh;
        background-color: black;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom: black solid 15px;
    }

    .well {
        background-color: white;
        border-bottom-right-radius: 15px;
        padding: 10px;
        width: 100%;
        height: 100%;
    }

    .title {
        text-align: center;
        padding-left: 20px;
    }

    .foodpic {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }

    .profile-row {
        width: 80vw;
        height: 100vh;
    }
    .left-col {
        background-image: url('/Images/lemons.jpg');
        background-size: 500px;
        background-repeat: repeat;
        border-right: white solid 50px;
    }
  
    .profile-pic {
        z-index: 5;
        position:absolute;
        padding: 0;
        top: 15vh;
        left: 15vw;
        width: 20vw;
        height: 65vh;
        border-radius: 30px;
        border: white solid 10px;
    }
  
    .card {
        padding: 40px;
        padding-left: 200px;
        height: 70vh;
        width: 65vw;
        position: relative;
        top: 10vh;
        border: none;
        left: -3vw;
    }
  
    .profile-display {
        display: inline;
    }
  
    .card-bank {
        border-radius: 15px;
        padding: 10px;
        background-color: #f9E07F;
    }

    .type-label {
        padding: 0 10px 5px;
        background-color: #f9E07F;
        border-radius: 15px;
    }
  
  </style>
  
  <div class="row profile-row">
    <div class="profile-pic">
        <div id="map"></div>
    </div>

    <div class="left-col col-md-4">

    </div>
  
    <div class="right-col col-md-8">
      <div class="card">
        <div>
            <h1 class="profile-display display-1">
                <%= request.title %> </h1>
            <h2><span class="type-label"><%= request.type %></span>
                in <%= request.location.zipcode %></h2>
        </div>

        <div class="row row-text">
            <div>
                <h3 style="display: inline;">By <%= request.user.name %></h3>
            </div>
        
            <p><%= request.content %></p>
                
            <% if (request.recipelink) { %>
                <a href='<% request.recipelink %>'>Recipe</a>
            <% } %>
            
            <div class="btn-banl" style="display: flex; justify-content: flex-start;">
                <% if (currentUser) { %>

                    <form action="/request/fill/<%= request.id %>?_method=DELETE" method="POST">
                        <input type="hidden" name="user" value="<%= currentUser.id %>">
                        <input type="submit" class="btn btn-primary" value="Fill Request">
                    </form>
                    
                    <% if (currentUser && currentUser.id === request.user.id) { %>
                        <a href="/request/edit/<%= request.id %>" class="btn btn-primary">Edit request</a>
                
                        <form action="/request/delete/<%= request.id %>?_method=DELETE" method="POST" style="display: inline;">
                            <input type="submit" class="btn btn-danger" value="Delete request">
                        </form>
                    <% } %>
                <% } %>
                </div>
            </div>
        </div>
    </div>
  </div>

<script>
    mapboxgl.accessToken = '<%= apiKey %>'

    let map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [<%= request.location.lat %>, <%= request.location.long %>],
        zoom: 12,
    })

    let marker = new mapboxgl.Marker()
        .setLngLat([<%= request.location.lat %>, <%= request.location.long %>])
        .addTo(map)

</script>