<style>
    .left {
        background-color: salmon;
        text-align: left;
        list-style-type: none;
        padding: 10px;
        border-radius: 15px;
        border-bottom-left-radius: 0;
        margin: 5px 0;
    }

    .right {
        background-color: #F9AD6A;
        text-align: right;
        list-style-type: none;
        padding: 10px;
        border-radius: 15px;
        border-bottom-right-radius: 0;
        margin: 5px 0;
    }

    #messages {
        overflow-y: auto;
        height: 79%;
        max-height: 450px;
        padding: 0;
    }

    .chat-head {
        padding: 10px;
        font-weight: bolder;
    }

    .chat-sidebar {

    }

    #message-window {
        background-color: #f9E07F;
        position: relative;
        border-radius: 15px;
        top: 8vh;
        left: 22vw;
        width: 60vw;
        height: 70vh;
    }

    .chat-form {
        height: 20px;
        width: 100%;
    }

    #chat-text {
        height: 40px;
        width: 86%;
    }

    #chat-send {
        height: 40px;
        width: 12%;
        background-color: lightseagreen;
        border-bottom-right-radius: 15px;
        border: none;
    }
</style>

<div>
    <div>
        <div>
            <div id="message-window" class="row row-cols-2">
                <div style="background-color: lightseagreen;" class="col-lg-4 chat-sidebar">
        
                </div>
                <div id="chat-window" class=" col-md">
                    <div class="chat-head">
                        <span class="chat-title">Chat with <%= user.name %></span>
                    </div>
                    
                    <ul id="messages">
                        <% user.messages.forEach(message => { %>
                            <% if (message.senderId === currentUser.id) { %>
                                <li class="right"><%= message.content %></li>
                            <% } else if (message.receiverId === currentUser.id) { %>
                                <li class="left"><%= message.content %></li>
                            <% } %>
                       <% }) %>
                    </ul>
            
                    <form id="chat-form" autocomplete="off" action="">
                        <input type="text" id="chat-text">
                        <input type="submit" id="chat-send" value="send">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% let targetUser = user.id %>

<script src="/socket.io/socket.io.js"></script>
<script>
    // Instantiate socket
    let socket = io({
        extraHeaders: {
            userId: <%= currentUser.id %>
        }
    })

    // Grab DOM elements
    let myForm = document.getElementById('chat-form')
    let myInput = document.getElementById('chat-text')

    // Add event listener
    myForm.addEventListener('submit', e => {
        // Prevent default
        e.preventDefault()
        // Check if input is empty
        if (myInput.value) {
            // Emit message and reset input to empty
            socket.emit('private message', myInput.value, <%= targetUser %>)
            myInput.value = ''
        }
    })

    socket.on('private message', (msg, targetId) => {
        console.log('ping')
        console.log('Message received')
        let item = document.createElement('li')
        item.innerText = msg

        if (targetId === <%= currentUser.id %>) {
            item.setAttribute('class', 'left')
        } else {
            item.setAttribute('class', 'right')
        }

        messages.appendChild(item)
        messages.style.overflowY = 'auto'
    })

    let chat = document.getElementById('chat-window')

    function closeWindow() {
        chat.style.visibility = 'hidden'
    }

</script>