
<style>
    .profile-row {
        width: 80vw;
        height: 100vh;
    }
    .left-col {
        background-image: url('/Images/lemons.jpg');
        background-size: 500px;
        background-repeat: repeat;
        border-right: white solid 50px;
    }

    .profile-pic {
        z-index: 5;
        position:absolute;
        top: 15vh;
        left: 140px;
        width: 250px;
        height: 250px;
        border-radius: 30px;
    }

    .card {
        padding: 20px;
        padding-left: 10vw;
        height: 70vh;
        width: 75vw;
        position: relative;
        top: 10vh;
        border: none;
        left: -3vw;
    }

    .profile-display {
        display: inline;
    }

    .card-bank {
        border-radius: 15px;
        padding: 10px;
        background-color: #f9E07F;
    }

</style>

<div class="row profile-row">

        <img class="profile-pic" src="<%= user.aviurl %>">

    <div class="left-col col-md-3">
        
    </div>

    <div class="right-col col-md-8">
        <div class="card">
            <div>
                <h1 class="profile-display display-1"> <%= user.name %> </h1>
                <p class="profile-display"><%= user.fills %> offers filled and <%= user.reqs %> offers made</p>
                <h2>In <%= user.locations[0].dataValues.zipcode %></h2>
            </div>

            <div>
                <div class="row">
                    <div class="col">
                        <div class="card-bank">
                            <h1>Offers</h1>
                            <ul>

                            <% user.requests.forEach(offer => { %>
                                <% if(offer.type === 'offer') { %>
                                    <li>
                                        <div class="well">
                                            <h4 style="display: inline;"><a href="/request/show/<%= offer.id %>"><%= offer.title %></a></h4>
                                        </div>
                                    </li>
                                <% } %>
                            <% }) %>

                            </ul>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card-bank">
                            <h1>Requests</h1>
                            <ul>

                            <% user.requests.forEach(request => { %>
                                <% if(request.type === 'request') { %>
                                    <li>
                                        <div class="well">
                                            <h4 style="display: inline;"><a href="/request/show/<%= request.id %>"><%= request.title %></a></h4>
                                        </div>
                                    </li>
                                <% } %>
                            <% }) %>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>