<style>
    .profile-btn {
        background-color: #F9AD6A;
        border: none;
        padding: 10px;
        margin: 10px 3px;
        border-radius: 5px;
    }

    .profile-disabled-btn {
        background-color: lightseagreen;
        border: none;
        padding: 10px;
        margin: 10px 3px;
        border-radius: 5px;
    }
</style>

<div class="row profile-row">

        <img class="profile-pic" src="<%= user.aviurl %>">

    <div class="left-col col-md-3">
        
    </div>

    <div class="right-col col-md-8">
        <div class="card">
            <div>
                <h1 class="profile-display display-1"> <%= user.name %> </h1>
                <p class="profile-display"><%= user.fills %> offers filled and <%= user.reqs %> offers made</p>
                
                <div>
                    <h2 style="display: inline;">In <%= user.locations[0].dataValues.zipcode %></h2>
            
                    <% if (currentUser) { %>
                        <div style="display: inline;">
                            <% if (currentUser.id === user.id) { %>
                                <form style="display: inline;" action="/message/<%= user.id %>">
                                    <input type="submit" class="profile-btn" value="Note to Self">
                                </form>
                            <% } else { %>
                                <form style="display: inline;" action="/message/<%= user.id %>">
                                    <input type="submit" class="profile-btn" value="Message Me">
                                </form>
                            <% } %>

                            <% if (!following && currentUser.id !== user.id) {%> 
                                <form style="display: inline;" action="/friend/<%= user.id %>">
                                    <input type="hidden" value="<%= currentUser.id %>" name="id">
                                    <input type="submit" class="profile-btn" value="Friend Me">
                                </form>
                            <%} else if (following) { %>
                                <form style="display: inline;">
                                    <input type="submit" class="profile-disabled-btn" value="Friended!">
                                </form>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>

            <div>
                
                <div class="row">
                    <div class="col">
                        <div class="card-bank-search">
                            <h1>Offers</h1>
                            <ul>

                            <% user.requests.forEach(offer => { %>
                                <% if(offer.type === 'offer') { %>
                                    <li>
                                        <div class="well">
                                            <h4 style="display: inline;"><a href="/request/show/<%= offer.id %>"><%= offer.title %></a></h4>
                                        </div>
                                    </li>
                                <% } %>
                            <% }) %>

                            </ul>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card-bank-search">
                            <h1>Requests</h1>
                            <ul>

                            <% user.requests.forEach(request => { %>
                                <% if(request.type === 'request') { %>
                                    <li>
                                        <div class="well">
                                            <h4 style="display: inline;"><a href="/request/show/<%= request.id %>"><%= request.title %></a></h4>
                                        </div>
                                    </li>
                                <% } %>
                            <% }) %>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>