 <div class="row profile-row">
    <div class="left-col col-md-3">
        
    </div>
      <div class="right-col col-md-8">
        <div class="card">
          <div>
            <form action="/searchby" method="POST">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Search By</label>
                <input type="text" class="form-control" placeholder="Keyword, location, etc..." id="exampleFormControlInput1" name="key">
              </div>

              <div>
                <input type="radio" name="searchType" value="offers" id="1">
                <label for="1">
                  Search requests
                </label>

                <input type="radio" name="searchType" value="requests" id="2">
                <label for="2">
                  Search offers
                </label>

                <input type="radio" name="searchType" value="both" id="3" checked>
                <label for="3">
                  Search both
                </label>

                <input type="radio" name="searchType" value="users" id="4">
                <label for="4">
                  Search users
                </label>
              </div>
  
              <div>
                <input type="checkbox" id="anywhere" name="targetSearch" checked>
                <label for="anywhere">Restrict results to my area</label>
              </div>
              
                <input type="submit" class="btn btn-primary">
              </div>
            </form>

          <div class="display-results">
            <div class="card-bank-search">
              
              <% if (type === 'requests' || type === 'offers' || type === 'both') { %>
                <% if (results.length < 1) { %>
                  <p>No results found!</p>
                <% } else { %>
                  <% results.forEach(result => { %>
                    <div class="row row-cols-2">

                      <div class="col-auto">
                        <img src="<%= result.user.aviurl %>" height="80px" width="80px" alt="Avatar">
                      </div>

                      <div class="col-md-10">
                        <h4 style="display: inline;"><a href="/offer/show/<%= result.id %>"><%= result.title %> by <%= result.user.name %></a></h4>
                        <p>at <%= result.location.zipcode %></p>
                      </div>
                      
                    </div>
                  <% }) %>
                <% } %>
              <% } %>

              <% if (type === 'users') { %>
                <% if (users.length < 1) { %>
                  <p>No results found!</p>
                <% } else { %>
                  <% users.forEach(user => { %>
                    <div class="row row-cols-2">

                      <div class="col-auto">
                        <img src="<%= user.aviurl %>" height="80px" width="80px" alt="Avatar">
                      </div>
                      
                      <div class="col-md-10">
                        <h4 style="display: inline;"><a href="/offer/show/<%= user.id %>"><%= user.name %></a></h4>
                        <p>in <%= user.locations[0].zipcode %></p>
                      </div>
                      
                    </div>
                  <% }) %>
                <% } %>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>