<style>
    #map {
        margin: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        position: absolute;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .col-one {
        position: absolute;
        height: 100%;
        background-color: white;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .card-bank {
        overflow-y: auto;
        height: auto;
        padding: 0 15px;
    }

    .well {
        margin: 10px 0;
        display: flex;
    }

    .card-text{
        background-color: #F9AD6A;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        margin:0 10px;
        width: 100%;
        padding: 7px;
        transition: 1s;
    }

    .card-text:hover {
        background-color: white;
        border-radius: 0;
    }

    .title {
        height: 8%;
        text-align: center;
        z-index: 10;
    }

    .see-other {
        margin: 0 auto;
        background-color: white;
    }
</style>

<div id="map"></div>

<div class="col-md-4 col-one">

    <div class="title">
        <h1>offerS <a href="/offer/new" class="btn btn-primary">Make New offer</a></h1>
    </div>

    <div class="card-bank">
        <% offers.forEach(offer => { %>
            <div class="well">
                <div>
                    <img src="/Images/avatars/pom.jpg" height="80px" width="80px" alt="Avatar">
                </div>
    
                <div class="card-text">
                    <div class="profile">
                        <h4 style="display: inline;"><a href="/offer/show/<%= offer.id %>"><%= offer.title %> by <%= offer.user.name %></a></h4>
                    </div>
    
                    <%= offer.content %> at <%= offer.location.address %>
                </div>
            </div>
        <% }) %>
    </div>

    <div class="title col-md-4 see-other">
        <h1><a href="/offer/search" class="btn btn-primary">See Offers</a></h1>
    </div>
</div>

<script>
    mapboxgl.accessToken = '<%= apiKey %>'

    let map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [<%= loc.lat %>, <%= loc.long %>],
        zoom: 12,
    })

    let marker = new mapboxgl.Marker()
        .setLngLat([<%= loc.lat %>, <%= loc.long %>])
        .addTo(map)

</script>