<style>
    #map {
        margin: 0;
        height: 100%;
        width: 100%;
        border-radius: 30px;
    }

    .col-one {
        padding: 0;
        min-height: 400px;
        min-width: 400px;
        background-color: white;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .col-two {
        padding: 0;
        background-image: url('/Images/lemons.jpg');
        background-size: 300px;
        background-repeat: repeat;
        padding: 30px;
    }

    .row-one {
        margin: 2vh;
        height: 80vh;
        background-color: black;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom: black solid 15px;
    }

    .well {
        background-color: white;
        border-bottom-right-radius: 15px;
        padding: 10px;
        width: 100%;
        height: 100%;
    }

    .title {
        text-align: center;
        padding-left: 20px;
    }

    .foodpic {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }

    .profile-row {
        width: 80vw;
        height: 100vh;
    }
    .left-col {
        background-image: url('/Images/lemons.jpg');
        background-size: 500px;
        background-repeat: repeat;
        border-right: white solid 50px;
    }
  
    .profile-pic {
        z-index: 5;
        position:absolute;
        padding: 0;
        top: 15vh;
        left: 15vw;
        width: 20vw;
        height: 65vh;
        border-radius: 30px;
        border: white solid 10px;
    }
  
    .card {
        padding: 40px;
        padding-left: 200px;
        height: 70vh;
        width: 65vw;
        position: relative;
        top: 10vh;
        border: none;
        left: -3vw;
    }
  
    .profile-display {
        display: inline;
    }
  
    .card-bank {
        border-radius: 15px;
        padding: 10px;
        background-color: #f9E07F;
    }
  
  </style>
  
  <div class="row profile-row">
    <div class="profile-pic">
        <div id="map"></div>
    </div>

    <div class="left-col col-md-4">

    </div>
  
    <div class="right-col col-md-8">
      <div class="card">
        <div>
            <h1 class="profile-display display-1"> <%= offer.title %> </h1>
            <h2>In <%= offer.location.zipcode %></h2>
        </div>

        <div class="row row-text">
            <div>
                <h3 style="display: inline;">By <%= offer.user.name %></h3>
            </div>
        
            <p><%= offer.content %></p>
                
            <% if (offer.recipelink) { %>
                <a href='<% offer.recipelink %>'>Recipe</a>
            <% } %>
            
            <div class="btn-banl" style="display: flex; justify-content: flex-start;">
                <% if (currentUser) { %>
                    <a href="offer/fill/<% currentUser.id %>" class="btn btn-primary">Fill offer</a>
                    <% if (currentUser && currentUser.id === offer.user.id) { %>
                        <a href="/offer/edit/<%= offer.id %>" class="btn btn-primary">Edit offer</a>
                
                        <form action="/offer/delete/<%= offer.id %>?_method=DELETE" method="POST" style="display: inline;">
                            <input type="submit" class="btn btn-danger" value="Delete offer">
                        </form>
                    <% } %>
                <% } %>
            </div>
        </div>
      </div>
    </div>
  </div>

<script>
    mapboxgl.accessToken = '<%= apiKey %>'

    let map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [<%= offer.location.lat %>, <%= offer.location.long %>],
        zoom: 12,
    })

    let marker = new mapboxgl.Marker()
        .setLngLat([<%= offer.location.lat %>, <%= offer.location.long %>])
        .addTo(map)

</script>